<div class=" container" style="padding-left:0px; padding-right: 0px; ">
    <img id="id.banner" src="../assets/images/banner.png" style="width: 100%; ">
</div>
<nav class=" container navbar navbar-expand-sm">
    <ul class="navbar-nav">
        <li class="nav-item">
            <strong><a class="nav-link" [routerLink]="['/trangchu']">Trang Chủ</a></strong>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" [routerLink]="['/danhmucmonhoc']">
                <strong> Danh Mục Môn Học</strong>
            </a>
        </li>
        <li class="nav-item" >
            <strong><a class="nav-link" [routerLink]="['/lienhe']" >Liên Hệ</a></strong>
        </li>
        <li class="nav-item">
            <strong><a class="nav-link" [routerLink]="['/gopy']">Góp Ý</a></strong>
        </li>
        <li class="nav-item">
            <strong><a class="nav-link" [routerLink]="['/hoidap']">Hỏi Đáp</a></strong>
          </li>
        <li class="nav-item">
            <strong><a class="nav-link" [routerLink]="['/dangnhap']">Đăng Nhập</a></strong>
        </li>
    </ul>
</nav>
<div class="container card text-center" id="lienhe" style="background-color: rgb(223, 209, 209)">
    <div class="card-header" style="background-color: rgb(152, 158, 236)">
        <strong>
            <h5>Liên Hệ</h5>
        </strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-7">
                <img src="../assets/images/anhtruso.jpg">
            </div>
            <div class="col-5">
                <hr style="background-color: rgb(126, 83, 207); width: 35%; height: 0.3%;;">
                <p>Thuộc sở hữu của công ty <strong>Thế Giới Web</strong></p><br>
                <p><strong>Email:</strong> thegioiweb@gmail.com</p><br>
                <p><strong>Fax:</strong> 0312251123</p><br>
                <p><strong>Hotline:</strong> 092789789</p><br>
                <p><strong>Địa Chỉ:</strong> Tầng 2, Cao Ốc 20, Nguyễn Trung Trực, TP HCM</p><br>
                <p><strong>Website:</strong> thegioiweb.vn</p>
            </div>
        </div>
    </div>
</div>