<div class="header container" style="padding-left:0px; padding-right: 0px; ">
        <img id="id.banner" src="../assets/images/banner.png" style="width: 100%;">
    </div>
    <nav class=" container navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="nav-item">
                <strong><a class="nav-link" [routerLink]="['/trangchu']">Trang Chủ</a></strong>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link " [routerLink]="['/danhmucmonhoc']">
                    <strong> Danh Mục Môn Học</strong>
                </a>
            </li>
            <li class="nav-item">
                <strong><a class="nav-link" [routerLink]="['/lienhe']">Liên Hệ</a></strong>
            </li>
            <li class="nav-item">
                <strong><a class="nav-link" [routerLink]="['/gopy']">Góp Ý</a></strong>
            </li>
            <li class="nav-item">
                <strong><a class="nav-link" [routerLink]="['/hoidap']">Hỏi Đáp</a></strong>
            </li>
            <li class="nav-item dropdown">
                    <strong>
                            <a class="nav-link " >
                              <span>Tài Khoản</span>
                              <div class="dropdown-content">
                                <p [routerLink]="['/dangnhap']">Đăng Nhập</p>
                                <p [routerLink]="['/dangki']">Đăng Kí</p>
                                <p [routerLink]="['/quenmatkhau']">Quên Mật Khẩu</p>
                                <p [routerLink]="['/thongtin']">Thông Tin</p>
                              </div>
                            </a>
                          </strong>
            </li>
        </ul>
    </nav>
    
    
    <div class="container " style="padding:0">
        <div class="card">
            <div class="card-header" style="background: linear-gradient(to right, #fc00ff, #00dbde);margin-left: 0">
                <h2 style="text-align: center">Đăng Kí</h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                            <label>Tài Khoản</label>
                            <input class="form-control" type="text" name="taikhoan" placeholder="Username" [(ngModel)]="formStudent.username">
                            <label style="margin-top: 30px;">Email</label>
                            <input class="form-control" type="text" name="password" placeholder="Email" [(ngModel)]="formStudent.email">    
                            <label style="margin-top: 30px;">Mật Khẩu</label>
                            <input class="form-control" type="password" name="password" placeholder="Password" [(ngModel)]="formStudent.password">
                            <label style="margin-top: 30px;">Họ Tên</label>
                            <input class="form-control" type="text" name="hoten" placeholder="FullName" [(ngModel)]="formStudent.fullname">
                            <label style="margin-top: 30px;">Ngày Sinh</label>
                            <input class="form-control" type="date" name="date" placeholder="Birth" [(ngModel)]="formStudent.birthday">
                            <label style="margin-top: 30px;">Giới Tính</label>
                            <input class="form-control" type="text" name="gender" placeholder="Gender" [(ngModel)]="formStudent.gender">
                            
                    </div>
                   
                    
                </form>
                <button class="btn" id="dangnhap"  (click)="studentLogin()"><strong>Đăng Kí</strong></button>
            </div>
        </div>
    </div>