<div class="header container" style="padding-left:0px; padding-right: 0px; ">
    <img id="id.banner" src="../assets/images/banner.png" style="width: 100%;">
</div>
<nav class=" container navbar navbar-expand-sm">
    <ul class="navbar-nav">
        <li class="nav-item">
            <strong><a class="nav-link" [routerLink]="['/trangchu']">Trang Chủ</a></strong>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link " [routerLink]="['/danhmucmonhoc']">
                <strong> Danh Mục Môn Học</strong>
            </a>
        </li>
        <li class="nav-item">
            <strong><a class="nav-link" [routerLink]="['/lienhe']">Liên Hệ</a></strong>
        </li>
        <li class="nav-item">
            <strong><a class="nav-link" [routerLink]="['/gopy']">Góp Ý</a></strong>
        </li>
        <li class="nav-item">
            <strong><a class="nav-link" [routerLink]="['/hoidap']">Hỏi Đáp</a></strong>
        </li>
        <li class="nav-item dropdown">
                <strong>
                        <a class="nav-link ">
                          <span>Tài Khoản</span>
                          <div class="dropdown-content">
                            <p [routerLink]="['/dangnhap']">Đăng Nhập</p>
                            <p [routerLink]="['/dangki']">Đăng Kí</p>
                            <p [routerLink]="['/quenmatkhau']">Quên Mật Khẩu</p>
                            <p [routerLink]="['/thongtin']">Thông Tin</p>
                          </div>
                        </a>
                      </strong>
        </li>
    </ul>
</nav>

<div class="container" style="padding:0;">
    <div class="card" style="float: right; width: 20%;">
        <div class="card-header">
            Danh Mục Môn Học
        </div>
        <div class="card-body">
            <ul *ngFor="let item of Subjects" [routerLink]="['/baithi',item.Id]">
                <li>{{item.Name}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="container" style="padding-left: 0; ">
    <div class="card">
        <div class="card-body text-center" style="background-color: #8d78a1; ">
            <div class="row">

                <div class="col col-6"
                    *ngFor="let item of Subjects | paginate: { itemsPerPage: itemsperpage, currentPage: currentpage }"
                    style="margin-bottom: 15px; border-radius: 4px 4px; background-color: #bcb5ad">
                    <div class="card" [routerLink]="['/baithi',item.Id]">
                        <div class="card-header" style="background-color:#70af67">
                            <strong >
                                {{item.Name}}
                            </strong>
                        </div>
                        <div class="card-body" id="col6" >
                            <img src="../assets/images/{{item.Logo}}">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="container">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" (click)="previouspage()">Previous</a></li>
        <li class="page-item"><a class="page-link" (click)="pagenow(1)">1</a></li>
        <li class="page-item"><a class="page-link" (click)="pagenow(2)">2</a></li>
        <li class="page-item"><a class="page-link" (click)="pagenow(3)">3</a></li>
        <li class="page-item"><a class="page-link" (click)="nextpage()">Next</a></li>
    </ul>
</div>