
.form{
    padding-left: 200px;
    
}

input{
    display: block;
    border: none;
    border-bottom: 2px solid #00BCD4;
}

#dangnhap {
    padding: 7px;
    width: 50%;
    margin-top: 15px;
    margin-left: 250px;
    border-radius: 10px;
    border: none;
    bottom: 10px;
    background: linear-gradient(to right, #fc00ff, #00dbde);
}
#dangnhap:hover{
    background: linear-gradient(to right, #fc466b, #3f5efb); 
}

/* header html */
.nav-link {
    color: black;
}

 .navbar ul li a{
    color: black;
    margin-left: 5px;
    text-align: center;
    margin-right: 5px;
 }

 .navbar ul li:hover{
    background-color: rgb(235, 223, 223);
    border-radius: 6px 6px;
 }

 .navbar{
    background-color: rgb(151, 157, 163)
 }

/* ----DropDown Tai Khoan------- */
.dropdown {
    position: relative;
    display: block;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #e9ecefc7;
    border-radius: 5px 5px;
    width: 130px;
    z-index: 1;
  
  }
  
  .dropdown-content p {
    border-radius: 5px 5px;
    height: 30px;
    margin-bottom: 0px;
    margin-top: 3px;
    color:#47688c;
    text-shadow: 2px 1px 1px #e9ecef;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
      display: none;
  }
  .dropdown-content p:hover{
    background-color: rgb(91, 230, 121);
    border-radius: 7px 7px;
}

